#logo{
    padding-right: 10px;
}
.heroImg {
    height: 550px;
    padding: 25px;
    padding-top: 75px;
    text-align: center;
    z-index: -1;
}
#para {
    display: flex;
    justify-content: center;
}
#hero {
    border: 20px white solid;
    border-radius: 50%;
    max-width: 200px ;
}
.button {
    background-color: #5C7685;
    height: 45px;
    width: 155px;
    font-size: 15px;
    color:#E5E5E5;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    border-radius: 10px;
}
#icons {
    text-align: center;
    padding-bottom:20px;
}
h1 {
    color: #545454;
    font-family: 'Noto Serif SC', serif;
    font-size: 30px;
}
p {
    display: flex;
    justify-content: center;

    color: #545454;
    font-size: 18px;
    width: 640px;
    font-style: normal;
    font-family: 'Noto Serif SC', serif;
    text-align: center;
}