#logo{
    padding-right: 10px;
}
h1 {
    display: flex;
    justify-content: center;
    color: #545454;
    padding-top: 75px;
    font-family: 'Questrial', sans-serif;
    font-size: 48px;

}
#AshaDescription p {
    padding-top: 30px;
    margin:auto;
    text-align: center;
    color: #545454;
    font-size: 18px;
    font-style: normal;
    font-family: 'Assistant', sans-serif;
    text-align: center;
    width: 698px;
    line-height: 30px;
}
#para p{
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 30px;
    font-size: 14px;
    text-align: center;
    font-family: 'Assistant', sans-serif;

}
#ashaHero {
    display: flex;
    justify-content: center;
    width: 876px;
    height: 385.61px;
    left: 139px;
    top: 371px;
    margin:auto;
}

h2 {
    display: flex;
    justify-content: center;
    color: #545454;
    padding-top: 35px;
    font-family: 'Questrial', sans-serif;
    font-size: 38px;
}
h3 {
    color: #545454;
    padding-top: 75px;
    font-family: 'Questrial', sans-serif;
}
p {
    padding-top: 10px;
    font-size: 18px;
    text-align: left;
    font-family: 'Assistant', sans-serif;
    color: #545454;
    line-height: 30px;
}
#MeenaRamya {
    display: flex;
    justify-content: center;
    margin:auto;
    padding-top: 75px;

}
.footer {
    display:inline-block;
    color: #545454;
    font-family:'Assistant', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: auto;
    overflow-x: hidden; /* Disable horizontal scroll */
    text-align: center;
    padding-top: 10px;
}
.About {
    padding-left: 10px;
    padding-right:10px;
}
.Work {
    padding-left:10px;
    padding-right:10px;
}
.Resume {
    padding-left: 10px;
    padding-right:20px;
}
.foot {
    display: flex;
    justify-content: space-between;
    text-align: left;
    font-size: 14px;
    font-style: normal;
    font-family: 'Assistant', serif;
    color: #545454;
    padding-left: 20px;
}
#icon {
    text-align: right;
    max-width: 208px;
    display: flex;
    align-items: flex-end;
    padding-right: 20px;
}
footer {
    margin-bottom: 20px;
}