.myNav {
    background-color: #1F2026 !important;
}
#logo{
    padding-right: 10px;
}
#para {
    display: flex;
    justify-content: center;

}
h1 {
    display: flex;
    justify-content: center;
    color: #545454;
    padding-top: 75px;
    font-family: 'Questrial', sans-serif;
    font-size: 48px;

}
p {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    text-align: center;
    color: #545454;
    font-size: 14px;
    width: 640px;
    font-style: normal;
    font-family: 'Assistant', sans-serif;
    text-align: center;
    line-height: 30px;

}
#ashaHero {
    display: flex;
    justify-content: center;
    width: 876px;
    height: 385.61px;
    left: 139px;
    top: 371px;
    margin:auto;
}

/*PLACE CSS FOR TIMELINE HERE */

  
.footer {
    display:inline-block;
    color: #545454;
    font-family:'Assistant', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: auto;
    overflow-x: hidden; /* Disable horizontal scroll */
    text-align: center;
    padding-top: 10px;
}
.About {
    padding-left: 10px;
    padding-right:10px;
}
.Work {
    padding-left:10px;
    padding-right:10px;
}
.Resume {
    padding-left: 10px;
    padding-right:20px;
}
.foot {
    display: flex;
    justify-content: space-between;
    text-align: left;
    font-size: 14px;
    font-style: normal;
    font-family: 'Noto Serif SC', serif;
    color: #545454;
    padding-left: 20px;
}
.icon {
    text-align: right;
    max-width: 208px;
    display: flex;
    align-items: flex-end;
}
#icon {
    text-align: right;
    max-width: 208px;
    padding-right: 20px;
}
footer {
    margin-bottom: 20px;
}
#sign{
    padding-right: 32px;
}