h2 {
    color: #545454;
    font-family: 'Questrial', sans-serif;
    font-size: 30px;
}
#title {
    display: flex;
    justify-content: center;
}
#WASHwatch:hover img{
    transition: all 1s ease-in-out;
    transform: scale(1.1);
    filter: brightness(.5);
}
#WASHwatch:hover span{
    transition: all 1s ease-in-out;
    display: inline-block;
}
#Prime:hover img{
    transition: all 1s ease-in-out;
    transform: scale(1.1);
    filter: brightness(.5);
}
#Prime:hover span{
    transition: all 1s ease-in-out;
    display: inline-block;
}
#Asha:hover img{
    transition: all 1s ease-in-out;
    transform: scale(1.1);
    filter: brightness(.5);
}
#Asha:hover span{
    transition: all 1s ease-in-out;
    display: inline-block;
}
#planana:hover img{
    transition: all 1s ease-in-out;
    transform: scale(1.1);
    filter: brightness(.5);
}
#planana:hover span{
    transition: all 1s ease-in-out;
    display: inline-block;
}
span {
    position: absolute;
    color: white;
    font-family:'Questrial', sans-serif ;
    font-size: 28px;
    display: none;
    left:50px;
    right:50px;
    bottom:30px;
    margin: 2px;
    padding: 3px 0px;
}
p {
    word-wrap: normal;
    font-family:'Assistant', sans-serif ;
    font-size: 16px;
    left:50px;
    right:0px;
    margin: 2px;
    padding: 3px 0px;
}
.row {
    margin-left:5px;
    margin-right:5px;
}
.col {
    margin-top:10px;
    margin-bottom:10px;
}
.footer {
    display:inline-block;
    color: #545454;
    font-family:'Nunito', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: auto;
    overflow-x: hidden; /* Disable horizontal scroll */
    text-align: center;
    padding-top: 10px;
}
.About {
    padding-left: 10px;
    padding-right:10px;
}
.Work {
    padding-left:10px;
    padding-right:10px;
}
.Resume {
    padding-left: 10px;
    padding-right:20px;
}
.foot {
    display: flex;
    justify-content: space-between;
    text-align: left;
    font-size: 14px;
    font-style: normal;
    font-family: 'Noto Serif SC', serif;
    color: #545454;
    padding-left: 20px;
}
#icon {
    text-align: right;
    max-width: 208px;
    display: flex;
    align-items: flex-end;
    padding-right: 20px;
}
footer {
    margin-bottom: 20px;
}