.footer {
    display:inline-block;
    color: #545454;
    font-family:'Nunito', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: auto;
    overflow-x: hidden; /* Disable horizontal scroll */
    text-align: center;
    padding-top: 10px;
}
.About {
    padding-left: 10px;
    padding-right:10px;
}
.Work {
    padding-left: 10px;
    padding-right:10px;
}
.Resume {
    padding-left: 10px;
    padding-right:20px;
}
.foot {
    display: flex;
    justify-content: space-between;
    text-align: left;
    font-size: 14px;
    font-style: normal;
    font-family: 'Noto Serif SC', serif;
    color: #545454;
    padding-left: 20px;
}
#icon {
    text-align: right;
    max-width: 208px;
    display: flex;
    align-items: flex-end;
    padding-right: 20px;
}
footer {
    margin-bottom: 20px;
}